@media (min-width: 768px) {
    .intro .intro-body .brand-heading {
        margin-top: 290px;
    }
}

.intro {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-image: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.88)), url('../img/bg/bg-img-1.jpg');
}

.wedding {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-image: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.88)), url('../img/bg/bg-img-2.jpg');
}

/* COLOR */
.yellow {
    color: #ffa800;
}

/* FONTS */
body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, .navbar-custom, .btn, .btnghost {
    font-family: 'Alegreya', serif;
}

/* NAVBAR */
.navbar-custom {
    font-size: 16px;
}

/**/

#about .fa {
    font-size: 20px;
}

.wedding a {
    text-decoration: underline;
    font-weight: bold;
}

.white-background {
    background: rgba(255, 255, 255, 0.1);
}

.wedding .btn-circle {
    margin-bottom: 20px;
}

.wedding .btnghost {
    margin-bottom: 20px;
    border: 2px solid #eee;
    color: #eee;
    text-decoration: none;
    font-size: 20px;
}

.wedding .btnghost:hover {
    background-color: #eee;
    color: #333;
    border: 2px solid #eee;
    text-decoration: none;
}

.map iframe {
    width: 98%;
    height: 500px;
    border: 0;
}

#wedding-map .row {
    padding: 25px;
}

#wedding-map .row .wedding-gifts {
    margin-top: 150px;
    padding-right: 40px;
}

@media (max-width: 990px) {
    #wedding-map .row .wedding-gifts {
        margin-top: 20px;
        padding-right: 0;
        margin-bottom: 20px;
    }
}

@media (min-width: 500px) {
    .margined {
        margin-top: 150px;
    }

    .wedding .margined {
        margin-bottom: 100px;
    }
}

@media (max-width: 768px) {
    .margined-side {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.reception-text {
    margin-top: 40px;
    margin-bottom: 40px;
}

.reception-text a {
    text-decoration: underline;
    font-weight: bold;
}

.go-to-gifts a {
    font-size: 18px;
}

.go-to-gifts i {
    font-size: 21px;
}

/* GIFTLIST*/
.gift-list {
    text-align: left;
    font-size: 20px;
}

.bg {
    border: solid 2px white;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-bottom: 2px;
}

.bg-even {
    background: rgba(215, 215, 215, 0.4);

}

.bg-odd {
    background: rgba(215, 215, 215, 0.2);
}

.gift-reserved {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Droid Sans', sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: #AAAAAA;
    border: black solid 2px;
}

@media (max-width: 500px) {
    .gift-reserved {
        font-size: 25px;
    }
}

.gift-title {
    color: #969696;
    font-weight: bold;
    font-size: 25px;
}

.gift-descr {
    margin-top: 5px;
    font-size: 18px;
}

.contact {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 3px;
}

.contact a {
    letter-spacing: 0;
}

.contact .bottom i {
    margin-top: 20px;
}

.contact .bottom {
    padding-bottom: 40px;
}

.btninv {
    border: 2px solid #eee;
    background-color: transparent;
    padding: 15px 20px;
    letter-spacing: 3px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    color: #eee;
    margin-top: 20px;
    margin-bottom: 60px;
    display: inline-block;
}

.btninv:hover {
    background-color: #eee;
    color: #333;
    border: 2px solid #eee;
}

footer {
    margin: 0;
    font-size: 19px;
}

footer i {
    font-size: 21px;
}

footer .bottom {
    font-size: 17px;
    margin-top: 10px;
}

footer a {
    font-weight: bold;
}