@media (min-width: 768px) {
    .intro .intro-body .brand-heading {
        margin-top: 290px;
    }
}

.intro {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-image: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.88)), url('../img/bg/bg-img-1.jpg');
}

.wedding {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-image: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.88)), url('../img/bg/bg-img-2.jpg');
}

.reception {
    background-image: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.88)), url('../img/bg/bg-img-3.jpg');
}

.contact-bg {
    background-image: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.88)), url('../img/bg/bg-img-4.jpg');
}

/* COLOR */
.yellow {
    color: #ffa800;
}

/* FONTS */
body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, .navbar-custom, .btn, .btnghost {
    font-family: 'Alegreya', serif;
}

/* NAVBAR */
.navbar-custom {
    font-size: 16px;
}

/**/

.btnghost {
    font-size: 18px;
}

#about .fa {
    font-size: 20px;
}

.wedding a {
    text-decoration: underline;
    font-weight: bold;
}

.black-background {
    background: rgba(0, 0, 0, 0.3);
}

.wedding .btn-circle {
    margin-bottom: 20px;
}

.wedding .btnghost {
    margin-bottom: 20px;
    border: 2px solid #eee;
    color: #eee;
    text-decoration: none;
    font-size: 20px;
}

.wedding .btnghost:hover {
    background-color: #eee;
    color: #333;
    border: 2px solid #eee;
    text-decoration: none;
}

.map iframe {
    width: 98%;
    height: 500px;
    border: 0;
}

#wedding-map .row {
    padding: 25px;
}

#wedding-map .row .wedding-gifts {
    margin-top: 150px;
    padding-right: 40px;
}

@media (max-width: 990px) {
    #wedding-map .row .wedding-gifts {
        margin-top: 20px;
        padding-right: 0;
        margin-bottom: 20px;
    }
}

@media (min-width: 500px) {
    .margined {
        margin-top: 150px;
    }

    .wedding .margined {
        margin-bottom: 100px;
    }
}

@media (max-width: 768px) {
    .margined-side {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.reception-text {
    margin-top: 40px;
    margin-bottom: 40px;
}

.reception-text a {
    text-decoration: underline;
    font-weight: bold;
}

.go-to-gifts i {
    font-size: 21px;
}

/* HOME */

.photo-break {
    display: table;
    width: 100%;
    height: auto;
    padding: 150px 0 100px 0;
    text-align: center;
    color: #fff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-image: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.88)), url('../img/break-img-1.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.logging-form {
}

.logging-form input {
    border: 2px solid #333;
    padding: 6px 15px 5px;
    height: 100%;
    font-size: 18px;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.logging-form input:focus {
    outline: none;
}

.logging-form button {
    border: 2px solid #333;
    background-color: transparent;
    padding: 5px 20px;
    letter-spacing: 3px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    color: #333;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    font-family: 'Alegreya', serif;
    margin-bottom: 10px;
}

.logging-form button:hover {
    background-color: #333;
    color: #fff;
    border: 2px solid #333;
}

.my-alert {
    padding: 0;
}

.my-alert .alert {
    border-radius: 0;
    border: 2px solid #333;
    font-size: 18px;
}

/* GIFTS */
.gift-list {
    text-align: left;
    font-size: 20px;
}

.bg {
    border: solid 2px white;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-bottom: 2px;
}

.bg-even {
    background: rgba(215, 215, 215, 0.4);

}

.bg-odd {
    background: rgba(215, 215, 215, 0.2);
}

.gift-reserved {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Droid Sans', sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: #AAAAAA;
    border: black solid 2px;
}

@media (max-width: 500px) {
    .gift-reserved {
        font-size: 25px;
    }
}

.gift-title {
    color: #969696;
    font-weight: bold;
    font-size: 25px;
}

.gift-descr {
    margin-top: 5px;
    font-size: 18px;
}

/* CONTACT */

.contact {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 3px;
}

.contact a {
    letter-spacing: 0;
}

.contact .bottom i {
    margin-top: 20px;
}

.contact .bottom {
    padding-bottom: 40px;
}

/* ADMIN PAGE */

.admin-navigation {
    margin-bottom: 20px;
}

.admin-navigation a {
    font-size: 19px;
}

@media (min-width: 768px) {
    .admin-navigation {
        margin-top: 150px;
    }
}

.admin-nav {
    border: solid 2px black;
    cursor: pointer;
}

.admin-nav.active {
    background: rgba(0, 0, 0, 0.3);
}

#admin-tab .table {
    text-align: right;
    font-size: 18px;
    line-height: 2;
}

#admin-tab .table th {
    text-align: right;
}

@media (max-width: 991px) {
    button.phase2 {
        width: 100%;
        margin-bottom: 10px;
    }
}

.reserved {
    background: rgba(0, 128, 0, 0.5);
}

.form-horizontal legend {
    color: white;
}

.form-horizontal input, .form-horizontal textarea {
    border-radius: 0;
}

.link-error {
    margin-top: 10px;
    border-radius: 0;
}

/* FOOTER */

footer {
    margin: 0;
    font-size: 19px;
}

footer i {
    font-size: 21px;
}

footer .bottom {
    font-size: 17px;
    margin-top: 10px;
}

footer a {
    font-weight: bold;
}